<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content padding="false" class="side-menu-left egobie-menu-bg">
            <ion-list>
                <ion-item class="item-avatar margin-top-20 egobie-menu-profile">
                    <div class="egobie-menu-profile-logo"></div>
                    <div class="egobie-menu-profile-name">Bo Huang</div>
                </ion-item>

                <ion-item ui-sref="menu.home" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-home-off"></i><span>HOME</span>
                </ion-item>

                <ion-item ui-sref="menu.notification" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-notification-off"></i>NOTIFICATIONS
                    <span class="badge badge-assertive">111</span>
                </ion-item>

                <ion-item ui-sref="menu.service" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-service-off"></i>EGOBIE SERVICES
                </ion-item>

                <ion-item ui-sref="menu.history" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-history-off"></i>MY SERVICES
                    <!--<span class="badge badge-assertive">0</span>-->
                </ion-item>

                <ion-item ui-sref="menu.car" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-vehicle-off"></i>VEHICLES
                    <!--<span class="item-note">Grammy</span>-->
                </ion-item>

                <ion-item ui-sref="menu.payment" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-payment-off"></i>PAYMENT
                </ion-item>

                <ion-item ui-sref="menu.setting" menu-close="" class="item item-icon-left egobie-menu-item">
                    <i class="icon egobie-setting-off"></i>SETTINGS
                </ion-item>

                <ion-item ui-sref="menu.about" menu-close="" class="item item-icon-left egobie-menu-item-last">
                    <i class="icon egobie-about-off"></i>ABOUT
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>