<ion-nav-view ng-app="app.tutorial">
    <ion-slide-box on-slide-changed="slideChanged($index)">
        <ion-slide class="box tutorial-1"></ion-slide>
        <ion-slide class="box tutorial-2"></ion-slide>
        <ion-slide class="box tutorial-3"></ion-slide>
        <ion-slide class="box tutorial-4"></ion-slide>
        <ion-slide class="box tutorial-5">
            <button class="button button-dark button-block-300"
                    ng-click="startToUse()">Start to Use</button>
        </ion-slide>
    </ion-slide-box>
</ion-nav-view>