@import 'egobie';
@import 'history';

.egobie {

    &-empty-reservation {
        @extend .egobie-no-reservation;
    }

    &-empty-history {
        @extend .egobie-no-history;
    }

    &-reservation-title, &-history-title {
        padding-left: 0px;
        font-size: 25px;
        color: #404041;
        height: 40px;
        border: 0;
        margin-top: 5px;
        margin-bottom: 30px;
        border-bottom: 1px solid #404041;
        //background-color: #FFFFFF;
    }

    &-history-title {
        margin-top: 20px;
    }

    &-reservation-list {
        display: flex;
        padding: 0px;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .left {
            display: inline-block;
            width: 28%;
            height: 100px;
            margin: 15px 10px 0px 5px;
            border-right: 1px solid #000000;

            .price {
                font-size: 25px;
                height: 30px;
                line-height: 30px;
                padding-left: 12px;

                &:before {
                    content: "$";
                    position: absolute;
                    font-size: 15px;
                    top: 8px;
                    left: 8px;
                }
            }
        }

        .right {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;

            .time-services {
                display: inline-block;

                .time, .services {
                    .title {
                        font-size: 10px;
                    }

                    .value {
                        color: #000000
                    }
                }

                .time .value {
                    margin-bottom: 5px;
                }

                .services .value:before {
                    content: "- ";
                }
            }

            .plate-reserve {
                display: inline-block;
                margin-left: 10px;

                .plate, .reserve {
                    padding-left: 11px;

                    .title {
                        display: block;
                        font-size: 10px;
                    }

                    .value {
                        color: #000000;
                    }
                }

                .plate .value {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &-history-list {
        display: flex;
        padding: 10px;
        height: 165px;
        border-left: 5px solid red;
        border-radius: 8px;

        .left {
            display: inline-block;
            width: 35%;
            border-right: 1px solid #404041;

            .price {
                font-size: 25px;
                padding-left: 8px;
                margin-top: 10px;

                &:before {
                    content: "$";
                    position: absolute;
                    font-size: 15px;
                    left: 10px;
                    top: 10px;
                }
            }

            .ontime {
                display: flex;
                margin-top: 82px;
                height: 40px;
                line-height: 40px;

                i {
                    display: inline-block;
                    font-size: 15px;
                    padding-right: 5px;
                    color: green;
                }

                p {
                    display: inline-block;
                    font-size: 15px;
                    color: green;
                }
            }
        }

        .right {
            display: inline-block;
            width: 65%;

            .egobie-range {

                .start, .end {
                    position: relative;

                    .dot {
                        width: 10px;
                        height: 10px;
                        border: 3px solid #000000;
                        border-radius: 100%;
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        left: 15px;
                    }

                    .line {
                        position: absolute;
                        display: inline-block;
                        border: 1px dashed #000000;
                        height: 18px;
                        left: 19px;
                        top: 16px;
                    }

                    p {
                        margin-left: 40px;
                        font-size: 14px;
                        font-weight: 500;

                    }
                }

                .end {
                    margin-top: 5px;

                    .dot {
                        top: 11px;
                    }

                    p {
                        border-top: 1px solid #000000;
                        padding-top: 5px;
                    }
                }
            }

            .egobie-rating {
                display: flex;
                margin: 15px 5px 0px 30px;
            }

            .egobie-other {
                .plate, .maker, .model {
                    display: inline-block;
                    height: 65px;
                    padding: 10px;
                    border: 0px;
                    overflow: visible;

                    .title {
                        margin-bottom: 5px;
                        font-size: 10px;
                    }

                    .content {
                        font-size: 14px;
                        font-weight: 500;
                        color: #000000;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }

    &-history-rating {
        display: inline;
        padding: .0em .6em .3em;
        font-size: 75%;
        font-weight: bold;
        line-height: 20px;
        height: 20px;
        color: #FFF;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    &-history-rating-good {
        background-color: #5CB85C;
    }

    &-history-rating-ok {
        background-color: #5BC0DE;
    }

    &-history-rating-fine {
        background-color: #F0AD4E;
    }

    &-history-rating-bad {
        background-color: #FF0E0E;
    }

    &-history-detail {

        .card {
            @extend .egobie-center;

            width: 95%;
            padding: 0;
            border: 1px solid #404041;
            border-radius: 10px;
            margin-top: 15px;
            background: transparent;
        }

        .section {
            font-size: 18px;
            font-weight: 500;
            border: 0px;
            padding: 9px;
            color: #FF9900;
        }

        .egobie-history-time {
            @extend .card;

            .left {
                display: inline-block;
                width: 70%;

                .start, .middle, .end {
                    display: flex;
                    padding: 10px;

                    .title {
                        display: inline-block;
                        width: 40px;
                        font-weight: 600;
                    }

                    i {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                    }

                    .time {
                        display: inline-block;
                        font-weight: 600;
                    }
                }

                .middle {
                    height: 15px;
                    overflow: visible;

                    i {
                        background-color: #404041;
                        margin-left: 5px;
                        margin-top: -20px;
                        width: 3px;
                        height: 40px;
                    }
                }
            }

            .right {
                display: inline-block;
                position: absolute;
                padding: 10px;
                width: 30%;

                i {
                    display: inline;
                    margin-right: 3px;
                    color: green;
                }

                p {
                    display: inline;
                    position: relative;
                    margin-top: 0;
                    font-size: 18px;
                    color: green;
                }
            }

            .bottom {
                border-top: 1px solid #404041;

                p {
                    display: inline-block;
                    margin-right: 10px;
                    line-height: 40px;
                    font-size: 20px;
                    float: right;

                    &:before {
                        content: "Reservation ID: #";
                        margin-right: 5px;
                    }
                }
            }

        }

        .egobie-history-car {
            @extend .card;

            border: 0px;
            border-top: 1px solid #404041;
            border-radius: 0px;

            .plate-state, .maker-model, .year-color {
                height: 65px;
                padding: 10px;
                border: 0px;
                overflow: visible;

                .title {
                    margin-bottom: 5px;
                    font-size: 13px;
                }

                .content {
                    font-size: 15px;
                    font-weight: 500;
                    color: #404041;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #404041;
                }
                
                .plate, .maker, .year {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 13px;
                    width: 100px;
                }

                .state, .model, .color {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 13px;
                    width: 100px;
                    margin-left: 50px;
                }
            }
        }

        .egobie-history-payment {
            @extend .card;

            border: 0px;
            border-top: 1px solid #404041;
            border-radius: 0px;

            .name, .number, .price-type {
                height: 65px;
                padding: 10px;
                border: 0px;
                overflow: visible;

                .title {
                    margin-bottom: 5px;
                    font-size: 13px;
                }

                .content {
                    font-size: 15px;
                    font-weight: 500;
                    color: #404041;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #404041;
                }
            }

            .name .content, .number .content {
                width: 200px;
            }

            .price-type {
                .price {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 13px;
                    width: 90px;

                    .content:before {
                        content: "$";
                        font-size: 12px;
                        margin-right: 3px;
                        position: relative;
                        bottom: 5px;
                    }
                }

                .type {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 13px;
                    margin-left: 150px;
                }
            }
        }

        .egobie-history-service {
            @extend .card;

            border: 0px;
            border-top: 1px solid #404041;
            border-radius: 0px;

            .service {
                position: relative;
                margin-top: 10px;

                .dot {
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    left: 10px;
                    top: 5px;
                    background-color: #404041;
                }

                .line {
                    display: block;
                    position: absolute;
                    width: 2px;
                    height: 30px;
                    left: 14px;
                    top: 10px;
                    background-color: #404041;
                }

                p {
                    position: relative;
                    font-size: 13px;
                    width: 85%;
                    left: 30px;
                    height: 20px;
                }

                div {
                    position: relative;
                    margin-bottom: 10px;
                    overflow: visible;

                    i {
                        position: absolute;
                        background-color: #404041;
                        width: 2px;
                        left: 14px;
                        height: 150%;
                    }

                    p {
                        position: relative;
                        padding-left: 30px;
                        width: 95%;
                        left: 0px;
                        font-size: 15px;
                        font-weight: 600;
                        height: 30px;
                        line-height: 30px;
                        border: 1px solid #404041;
                        border-radius: 8px;
                    }

                    &:last-child {
                        overflow: hidden;
                    }
                }
            }
        }
    }
}