@import 'egobie';

.egobie {
    &-notification-empty {
        border: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;

        hr {
            @include linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);

            border: 0;
            height: 1px;
            width: 300px;
        }

        hr:first-child {
            margin-bottom: 20px;
        }

        hr:last-child {
            margin-top: 20px;
        }
    }
}