@import 'egobie';

.egobie {
    &-home-tab {
        .tab-nav, .tab-nav * {
            background-color: #FFFFFF !important;
            color: #000000 !important;
            border-color: #000000 !important;
        }
    }

    &-on-demand, &-reservation {
        padding: 0px;
        position: relative;
        height: 50%;

        .mask {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.1);
        }

        .panel {
            position: absolute;
            display: flex;
            height: 40%;
            bottom: 0px;
            width: 100%;
            color: #FFFFFF;
            background: rgba(0,0,0,0.30);

            .left {
                display: inline-block;
                width: 70%;

                .title {
                    height: 40px;
                    line-height: 40px;
                    font-size: 25px;
                    font-weight: 500;
                    padding-left: 10px;
                    color: #FFFFFF;
                }

                .content {
                    color: #FFFFFF;
                }
            }

            .right {
                display: inline-block;
                position: relative;
                width: 25%;

                .navigation {
                    position: absolute;
                    font-size: 35px;
                    right: 10px;
                    bottom: 10px;
                }
            }
        }
    }

    &-on-demand {
        background: image($Home-On-Demand) no-repeat center center fixed;
        background-size: cover;
    }

    &-reservation {
        background: image($Home-Reserve) no-repeat center center fixed;
        background-size: cover;
    }

    &-resident-order-item {
        @extend .egobie-margin-top-5;

        padding-top: 8px;
        padding-bottom: 8px;
        height: 40px;

        i:before {
            font-size: 25px;
        }
    }
}