<ion-modal-view ng-app="app.payment.add"
                ng-controller="paymentAddCtrl">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">NEW PAYMENT</h1>
        <button class="button button-icon icon ion-android-close"
                ng-click="hideAddPayment()"></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header padding">
        <ion-list class="egobie-payment-add">
            <!-- Card Holder -->
            <ion-item class="item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input id="addpayment-name" type="text" placeholder="Holder Name"
                       ng-model="payment.name">
            </ion-item>

            <!-- Card Number -->
            <ion-item class="item-input">
                <i class="icon ion-card placeholder-icon"></i>
                <input id="addpayment-number" type="number" placeholder="0000 0000 0000 0000"
                       ng-model="payment.number">
            </ion-item>

            <!-- CCV -->
            <ion-item class="item-input">
                <i class="icon ion-locked placeholder-icon"></i>
                <input id="addpayment-cvv" type="password" placeholder="CVV"
                       ng-model="payment.cvv">
            </ion-item>

            <!-- Zip -->
            <ion-item class="item-input">
                <i class="icon ion-card placeholder-icon"></i>
                <input id="addpayment-zip" type="text" placeholder="00000"
                       ng-model="payment.zip">
            </ion-item>

            <!-- Expiration Month -->
            <ion-item class="item-input">
                <i class="icon ion-calendar placeholder-icon"></i>
                <select id="addpayment-month"
                        ng-model="payment.month"
                        ng-options="month as month for month in months">
                    <option value="">Choose Month</option>
                </select>
            </ion-item>

            <!-- Expiration Year -->
            <ion-item class="item-input">
                <i class="icon ion-calendar placeholder-icon"></i>
                <select id="addpayment-year"
                        ng-model="payment.year"
                        ng-options="year as year for year in years">
                    <option value="">Choose Year</option>
                </select>
            </ion-item>
        </ion-list>
        <button class="button button-block button-dark"
                ng-click="createPayment()">Save</button>
    </ion-content>
</ion-modal-view>