<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">CHANGE PASSWORD</h1>
        <button class="button button-icon icon ion-android-close"
                ng-click="hideEditPassword()"></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header padding">
        <ion-list>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label">Current Password</span>
                <input type="password"
                       ng-model="password.old">
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label">New Password</span>
                <input type="password"
                       ng-model="password.new1">
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label">Confirm Password</span>
                <input type="password"
                       ng-model="password.new2">
            </ion-item>
        </ion-list>
        <button class="button button-block button-dark"
                ng-click="editPassword()">Save</button>
    </ion-content>
</ion-modal-view>