<ion-view hide-nav-bar="true"
          ng-controller="carSelectCtrl">
    <ion-header-bar class="bar-stable bar bar-header egobie-header-bar">
        <button class="button button-icon icon ion-ios-arrow-back"
                ng-click="$ionicGoBack()"></button>
        <h1 class="title">VEHICLES</h1>
        <button class="button button-icon icon ion-android-add"
              ng-click="showAddCar()"></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-checkbox ng-repeat="(id, car) in cars"
                          ng-model="car.checked"
                          ng-click="pickCar(car)">{{car.plate}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>