<ion-view title="Home"
          ng-app="app.home.resident">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="card" ui-sref="menu.home.demand">
                <ion-list>
                    <ion-item class="item-body">
                        <p>On Demand</p>
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item class="card" ui-sref="menu.home.reservation">
                <ion-list>
                    <ion-item class="item-body">
                        <p>Reservation</p>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
