<ion-view title="PAYMENTS"
          ng-controller="paymentSelectCtrl">
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-add"
                ng-click="showAddPayment()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
        <ion-list>
            <ion-checkbox ng-repeat="(id, payment) in payments"
                          ng-model="payment.checked"
                          ng-click="pickPayment(payment)">{{payment.account_number}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>