<ion-view hide-nav-bar="true"
          ng-controller="paymentSelectCtrl">
    <ion-header-bar class="bar-stable egobie-header-bar">
        <button class="button button-icon icon ion-ios-arrow-back"
                ng-click="$ionicGoBack()"></button>
        <h1 class="title">PAYMENTS</h1>
        <button class="button button-icon icon ion-android-add"
              ng-click="showAddPayment()"></button>
    </ion-header-bar>
    <ion-content padding="true">
        <ion-list>
            <ion-checkbox ng-repeat="(id, payment) in payments"
                          ng-model="payment.checked"
                          ng-click="pickPayment(payment)">{{payment.account_number}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>