<ion-view hide-nav-bar="true" cache-view="false"
          ng-controller="serviceSelectCtl">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-ios-arrow-back"
                ng-click="$ionicGoBack()"></button>
        <h1 class="title">SERVICES</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list overflow-scroll="true">
            <ion-item class="item-divider">{{serviceNames["CAR_WASH"]}}</ion-item>
            <ion-checkbox ng-repeat="service in carWash"
                          ng-click="toggleService(service, carWash)"
                          ng-model="service.checked">{{service.name}} - {{service.price}}$</ion-checkbox>

            <ion-item class="item-divider">{{serviceNames["OIL_CHANGE"]}}</ion-item>
            <ion-checkbox ng-repeat="service in oilChange"
                          ng-click="toggleService(service, oilChange)"
                          ng-model="service.checked">{{service.name}} - {{service.price}}$</ion-checkbox>

            <ion-item class="item-divider">{{serviceNames["DETAILING"]}}</ion-item>
            <ion-checkbox ng-repeat="service in detailing"
                          ng-click="toggleService(service, detailing)"
                          ng-model="service.checked">{{service.name}} - {{service.price}}$</ion-checkbox>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark"
                    ng-click="pickService()">
        <h1 class="title">Save</h1>
    </ion-footer-bar>
</ion-view>