<ion-view hide-nav-bar="true"
          ng-app="app.car"
          ng-controller="carCtrl">
    <ion-header-bar class="bar-stable egobie-header-bar">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">VEHICLES</h1>
        <button class="button button-icon icon ion-android-add"
                ng-click="showAddCar()"></button>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item menu-close="" class="card"
                      ng-repeat="(id, car) in cars"
                      ng-click="showCarActionSheet(car)">
                <ion-list class="card">
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{car.state}} - {{car.plate}}</h2>
                        <p>{{car.year}}</p>
                        <p>{{car.color}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>{{car.maker}} - {{car.model}}</p>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>