<ion-view hide-nav-bar="true" cache-view="false"
          ng-app="app.history"
          ng-controller="historyCtrl">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-navicon egobie-display-inherit" menu-toggle="left"></button>
        <h1 class="title">MY SERVICES</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content padding="true">
        <ion-list>
            <ion-item class="item-divider item-icon-right egobie-reservation-title">
                <i class="icon ion-android-refresh"
                   ng-click="loadReservations()"></i>RESERVATION
            </ion-item>
            <ion-item class="egobie-empty-reservation"
                      ng-show="noReservation()">
                <i class="icon ion-android-checkmark-circle icon-1"></i>
                <p class="no">No reservation</p>
            </ion-item>

            <ion-item class="egobie-reservation-list"
                      ng-repeat="reservation in reservations"
                      ng-click="showCancelSheet(reservation)">
                <div class="left">
                    <p class="price">{{reservation.price}}</p>
                </div>
                <div class="right">
                    <div class="time-services">
                        <div class="time">
                            <p class="title">Estimated Start:</p>
                            <p class="value">{{reservation.reserve_start_time}}</p>
                        </div>
                        <div class="services">
                            <p class="title">Services</p>
                            <p class="value"
                               ng-repeat="service in reservation.services">{{service.name}}</p>
                        </div>
                    </div>

                    <div class="plate-reserve">
                        <div class="plate">
                            <p class="title">Plate No.</p>
                            <p class="value">{{reservation.plate}}</p>
                        </div>
                        <div class="reserve">
                            <p class="title">Reservation ID #</p>
                            <p class="value">{{reservation.reservation_id}}</p>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item class="item-divider item-icon-right egobie-history-title">
                <i class="icon ion-android-refresh"
                   ng-click="loadHistories()"></i>HISTORY
            </ion-item>
            <ion-item class="egobie-empty-history"
                      ng-show="noHistory()">
                <i class="icon ion-clipboard icon-1"></i>
                <p class="no">No history</p>
            </ion-item>

            <ion-item class="egobie-history-list"
                      ng-repeat="(id, history) in histories"
                      ng-class="borderStyle(history.rating)"
                      ng-click="showHistory(id)">
                <div class="left">
                    <div class="price">{{history.price}}</div>
                    <div class="ontime">
                        <i class="icon ion-clock"></i>
                        <p>On time</p>
                    </div>
                </div>
                <div class="right">
                    <div class="egobie-range">
                        <div class="start">
                            <i class="dot"></i>
                            <i class="line"></i>
                            <p>{{history.start_time}}</p>
                        </div>
                        <div class="end">
                            <i class="dot"></i>
                            <p>{{history.end_time}}</p>
                        </div>
                    </div>
                    <div class="egobie-rating"
                         ng-class="ratingStyle(history.rating)">
                        <rating max="max" readonly="true"
                                ng-model="history.rating"></rating>
                        <span class="egobie-history-rating">{{historyPercent(history.rating)}}</span>
                    </div>
                    <div class="egobie-other">
                        <div class="plate">
                            <p class="title">PLATE</p>
                            <p class="content">{{history.plate}}</p>
                        </div>
                        <div class="maker">
                            <p class="title">MAKER</p>
                            <p class="content">{{history.maker}}</p>
                        </div>
                        <div class="model">
                            <p class="title">MODEL</p>
                            <p class="content">{{history.model}}</p>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="history-detail" type="text/ng-template">
        <ion-modal-view hide-nav-bar="true">
            <ion-header-bar class="egobie-header-bar">
                <h1 class="title">HISTORY</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideHistory()"></button>
            </ion-header-bar>
            <div class="egobie-bg-mask">
                <div class="egobie-bg-mask-1"></div>
                <div class="egobie-bg-mask-2"></div>
            </div>
            <ion-content padding="true" class="egobie-history-detail">
                <ion-list>
                    <ion-list>
                        <ion-item class="egobie-history-time">
                            <div class="section">Timeline</div>
                            <div class="top">
                                <div class="left">
                                    <div class="start">
                                        <p class="title">Start</P>
                                        <i class="icon ion-clock"></i>
                                        <p class="time">{{selectedHistory.start}}</p>
                                    </div>
                                    <div class="middle">
                                        <p class="title"></P>
                                        <i></i>
                                        <p class="time"></p>
                                    </div>
                                    <div class="end">
                                        <p class="title">End</P>
                                        <i class="icon ion-ios-circle-filled"></i>
                                        <p class="time">{{selectedHistory.end}}</p>
                                    </div>
                                </div>
                                <div class="right">
                                    <i class="icon ion-clock"></i>
                                    <p>On Time</p>
                                </div>
                            </div>
                            <div class="bottom">
                                <p>{{selectedHistory.reservation_id}}</p>
                            </div>
                        </ion-item>
                    </ion-list>

                    <ion-list>
                        <ion-item class="egobie-history-car">
                            <div class="section">Vehicle</div>
                            <div class="plate-state">
                                <div class="plate">
                                    <p class="title">Plate No.</p>
                                    <p class="content">{{selectedHistory.plate}}</p>
                                </div>
                                <div class="state">
                                    <p class="title">State</p>
                                    <p class="content">{{selectedHistory.state}}</p>
                                </div>
                            </div>
                            <div class="maker-model">
                                <div class="maker">
                                    <p class="title">Maker</p>
                                    <p class="content">{{selectedHistory.maker}}</p>
                                </div>
                                <div class="model">
                                    <p class="title">Model</p>
                                    <p class="content">{{selectedHistory.model}}</p>
                                </div>
                            </div>
                            <div class="year-color">
                                <div class="year">
                                    <p class="title">Year</p>
                                    <p class="content">{{selectedHistory.year}}</p>
                                </div>
                                <div class="color">
                                    <p class="title">Color</p>
                                    <p class="content">{{selectedHistory.color}}</p>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>

                    <ion-list>
                        <ion-item class="egobie-history-payment">
                            <div class="section">Payment</div>
                            <div class="name">
                                <p class="title">Holder Name</p>
                                <p class="content">{{selectedHistory.account_name}}</p>
                            </div>
                            <div class="number">
                                <p class="title">Account Number</p>
                                <p class="content">XXXX XXXX XXXX {{selectedHistory.account_number}}</p>
                            </div>
                            <div class="price-type">
                                <div class="price">
                                    <p class="title">Amount</p>
                                    <p class="content">{{selectedHistory.price}}</p>
                                </div>
                                <div class="type">
                                    <p class="title">Payment Type</p>
                                    <p class="content">{{selectedHistory.account_type}}</p>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>

                    <ion-list>
                        <ion-item class="egobie-history-service">
                            <div class="section">Service</div>
                            <div class="service"
                                 ng-repeat="service in selectedHistory.services">
                                <i class="dot"></i>
                                <i class="line"></i>
                                <p>{{service.name}}</p>
                                <div ng-repeat="item in service.items">
                                    <i></i>
                                    <p>{{item}}</p>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>