<ion-view title="Hisotry" ng-app="app.history" ng-controller="historyDetailCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item menu-close="" class="card" ng-repeat="hisotry in histories" ng-click="modal.show()">
                <ion-list class="card">
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{hisotry.license}}</h2>
                        <p>
                            <a href="#" class="subdued">{{hisotry.datetime}}</a>
                            <a href="#" class="subdued">{{hisotry.price}}</a>
                        </p>
                        <p>
                            <rating max="max" readonly="true"
                                    ng-model="hisotry.rating"></rating>
                            <span class="label"
                                  ng-class="historyLabelStyle(hisotry.rating)">{{historyPercent(hisotry.rating)}}</span>
                        </p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>
                            <a href="#" class="subdued">{{hisotry.maker}}</a>
                            <a href="#" class="subdued">{{hisotry.model}}</a>
                        </p>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="history-detail" type="text/ng-template">
        <ion-modal-view title="History" hide-nav-bar="true">
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">DETAIL</h1>
                <button class="button button-icon icon ion-android-close" ng-click="modal.hide()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header padding">
                <ion-item menu-close="" class="card">
                    <ion-list class="card">
                        <ion-item class="item-avatar">
                            <img src="mcfly.jpg">
                            <h2>{{hisotry.license}}</h2>
                            <p>
                                <a href="#" class="subdued">{{hisotry.datetime}}</a>
                                <a href="#" class="subdued">{{hisotry.price}}</a>
                            </p>
                        </ion-item>

                        <ion-item class="item-body">
                            <p>Service Type</p>
                            <p>Oil Type</p>
                            <p>Price</p>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>