<ion-tabs class="tabs-striped tabs-icon-top tabs-stable egobie-home-tab">

    <ion-tab title="Residential" icon="ion-ios-home" ui-sref="menu.home.resident">
        <ion-nav-view name="resident-view"></ion-nav-view>
    </ion-tab>
<!--
    <ion-tab title="Business" icon="ion-ios-briefcase" ui-sref="menu.home.business">
        <ion-nav-view name="business-view"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Shopping Malls" icon="ion-bag" ui-sref="menu.home.mall">
        <ion-nav-view name="mall-view"></ion-nav-view>
    </ion-tab>
-->
</ion-tabs>