<ion-view title="Services" cache-view="false"
          ng-app="app.service"
          ng-controller="serviceCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item menu-close="" class="item-divider item-icon-right"
                      ng-click="toggle('DONE')">
                <i class="icon ion-ios-arrow-down"></i>Done
            </ion-item>
            <ion-item menu-close="" class="card"
                      ng-repeat="service in done"
                      ng-show="isShown('DONE')"
                      ng-click="showDetail()">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{service.plate}}</h2>
                        <p>Reserve Time : {{service.revserve_time}}</p>
                        <p>Start Time : {{service.start_time}}</p>
                        <p>End Time : {{service.end_time}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>
                            {{service.note}}
                        </p>
                        <p>
                            <a href="#" class="subdued">{{service.time}} mins</a>
                            <a href="#" class="subdued">{{service.price}}</a>
                        </p>
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item menu-close="" class="item-divider item-icon-right margin-top-5"
                      ng-click="toggle('IN_PROGRESS')">
                <i class="icon ion-ios-arrow-down"></i>In Progress
            </ion-item>
            <ion-item menu-close="" class="card"
                      ng-repeat="service in inProgress"
                      ng-show="isShown('IN_PROGRESS')"
                      ng-click="showDetail()">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{service.plate}}</h2>
                        <p>Reserve Time : {{service.revserve_time}}</p>
                        <p>Start Time : {{service.start_time}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>
                            {{service.note}}
                        </p>
                        <p>
                            <a href="#" class="subdued">{{service.time}} mins</a>
                            <a href="#" class="subdued">{{service.price}}</a>
                        </p>
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item menu-close="" class="item-divider item-icon-right margin-top-5"
                      ng-click="toggle('RESERVED')">
                <i class="icon ion-ios-arrow-down"></i>Reservation
            </ion-item>
            <ion-item menu-close="" class="card"
                      ng-repeat="service in reservation"
                      ng-show="isShown('RESERVED')"
                      ng-click="showDetail()">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{service.plate}}</h2>
                        <p>Reserve Time : {{service.revserve_time}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>
                            {{service.note}}
                        </p>
                        <p>
                            <a href="#" class="subdued">{{service.time}} mins</a>
                            <a href="#" class="subdued">{{service.price}}</a>
                        </p>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="service-detail" type="text/ng-template">
        <ion-modal-view title="History" hide-nav-bar="true">
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">DETAIL</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideDetail()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header padding">
                <ion-item menu-close="" class="card">
                    <ion-list class="card">
                        <ion-item class="item-avatar">
                            <img src="mcfly.jpg">
                            <h2>{{service.license}}</h2>
                            <p>
                                <a href="#" class="subdued">{{service.datetime}}</a>
                                <a href="#" class="subdued">{{service.status}}</a>
                            </p>
                        </ion-item>

                        <ion-item class="item-body">
                            <p>{{service.description}</p>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>