<ion-view title="SERVICES" cache-view="false"
          ng-app="app.service"
          ng-controller="serviceCtrl">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item menu-close="" class="item-divider item-icon-right"
                      ng-click="toggleShownService('CAR_WASH')">
                <i class="icon ion-ios-arrow-down"></i>{{serviceNames["CAR_WASH"]}}
            </ion-item>
            <ion-item menu-close="" class="card"
                      ng-repeat="service in carWash"
                      ng-click="showService(service)"
                      ng-show="isShownService('CAR_WASH')">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{service.name}}</h2>
                        <p>Estimated Time : {{service.time}}</p>
                        <p>Price : {{service.price}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>{{service.description}}</p>
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item menu-close="" class="item-divider item-icon-right"
                      ng-click="toggleShownService('OIL_CHANGE')">
                <i class="icon ion-ios-arrow-down"></i>{{serviceNames["OIL_CHANGE"]}}
            </ion-item>
            <ion-item menu-close="" class="card"
                      ng-repeat="service in oilChange"
                      ng-click="showService(service)"
                      ng-show="isShownService('OIL_CHANGE')">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{service.name}}</h2>
                        <p>Estimated Time : {{service.time}}</p>
                        <p>Price : {{service.price}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>{{service.description}}</p>
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item menu-close="" class="item-divider item-icon-right"
                      ng-click="toggleShownService('DETAILING')">
                <i class="icon ion-ios-arrow-down"></i>{{serviceNames["DETAILING"]}}
            </ion-item>
            <ion-item menu-close="" class="card"
                      ng-repeat="service in detailing"
                      ng-click="showService(service)"
                      ng-show="isShownService('DETAILING')">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{service.name}}</h2>
                        <p>Estimated Time : {{service.time}}</p>
                        <p>Price : {{service.price}}</p>
                    </ion-item>

                    <ion-item class="item-body">
                        <p>{{service.description}}</p>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="service-detail" type="text/ng-template">
        <ion-modal-view title="History" hide-nav-bar="true">
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">DETAIL</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideService()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header padding">
                <ion-item menu-close="" class="card">
                    <ion-list class="card">
                        <ion-item class="item-avatar">
                            <img src="mcfly.jpg">
                            <h2>{{selectedService.name}}</h2>
                            <p>Estimated Time : {{selectedService.time}}</p>
                            <p>Price : {{selectedService.price}}</p>
                        </ion-item>

                        <ion-item class="item-body">
                            <p ng-repeat="item in selectedService.items">{{item}}</p>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>