<ion-view title="Settings"
          ng-app="app.setting"
          ng-controller="settingCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">User Settings</ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditUser()">
                <i class="icon ion-person"></i>
                <span>User Account</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditPassword()">
                <i class="icon ion-locked"></i>
                <span>Change Password</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>

            <ion-item class="item-divider">Address Settings</ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditHome()">
                <i class="icon ion-ios-home"></i>
                <span>Home Address</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>

            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditWork()">
                <i class="icon ion-briefcase"></i>
                <span>Work Address</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>
        </ion-list>
    </ion-content>

    <script id="edit-user" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">USER ACCOUNT</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideEditUser()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header padding">
                <ion-item ui-sref="menu.payment" menu-close="" class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Change Photo</h2>
                </ion-item>

                <ion-list>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text"
                               ng-model="user.first">
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Middle Name</span>
                        <input type="text"
                               ng-model="user.middle">
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text"
                               ng-model="user.last">
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="email"
                               ng-model="user.email">
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Phone Number</span>
                        <input type="text"
                               ng-model="user.phone">
                    </ion-item>
                </ion-list>
                <button class="button button-block button-dark"
                        ng-click="editUser()">Save</button>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="edit-password" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">CHANGE PASSWORD</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideEditPassword()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header padding">
                <ion-list>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Current Password</span>
                        <input type="password"
                               ng-model="password.old">
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">New Password</span>
                        <input type="password"
                               ng-model="password.new1">
                    </ion-item>
                    <ion-item class="item-input item-stacked-label">
                        <span class="input-label">Confirm Password</span>
                        <input type="password"
                               ng-model="password.new2">
                    </ion-item>
                </ion-list>
                <button class="button button-block button-dark"
                        ng-click="editPassword()">Save</button>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="edit-home" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">HOME ADDRESS</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideEditHome()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header">
                <ion-list>
                    <!-- Street -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-person placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <input type="text" placeholder="Street"
                               ng-model="home.street"/>
                    </ion-item>

                    <!-- City -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-person placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <input type="text" placeholder="City"
                               ng-model="home.city"/>
                    </ion-item>

                    <!-- State -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-map placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <select id="edithome-state" class="select-egobie"
                                ng-model="home.state"
                                ng-options="state as fullname for (state, fullname) in states">
                            <option value="">Choose State</option>
                        </select>
                    </ion-item>

                    <!-- Zip -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-person placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <input type="text" placeholder="Zip Code"
                               ng-model="home.zip"/>
                    </ion-item>
                </ion-list>
                <button class="button button-block button-dark"
                        ng-click="editHome()">Save</button>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="edit-work" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-stable">
                <h1 class="title">WORK ADDRESS</h1>
                <button class="button button-icon icon ion-android-close"
                        ng-click="hideEditWork()"></button>
            </ion-header-bar>
            <ion-content overflow-scroll="true" padding="true" class="has-header">
                <ion-list>
                    <!-- Street -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-person placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <input type="text" placeholder="Street"
                               ng-model="work.street"/>
                    </ion-item>

                    <!-- City -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-person placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <input type="text" placeholder="City"
                               ng-model="work.city"/>
                    </ion-item>

                    <!-- State -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-map placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <select class="select-egobie"
                                ng-model="work.state"
                                ng-options="state as fullname for (state, fullname) in states">
                            <option value="">Choose State</option>
                        </select>
                    </ion-item>

                    <!-- Zip -->
                    <ion-item class="item-input margin-top-5 item-padding-top-bottom">
                        <i class="icon ion-person placeholder-icon icon-size-25 i-add-payment-egobie"></i>
                        <input type="text" placeholder="Zip Code"
                               ng-model="work.zip"/>
                    </ion-item>
                </ion-list>
                <button class="button button-block button-dark"
                        ng-click="editWork()">Save</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>