<ion-view hide-nav-bar="true"
          ng-app="app.setting"
          ng-controller="settingCtrl">
    <ion-header-bar class="bar-stable egobie-header-bar">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">SETTINGS</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">User Settings</ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditUser()">
                <i class="icon ion-person"></i>
                <span>User Account</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditPassword()">
                <i class="icon ion-locked"></i>
                <span>Change Password</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>

            <ion-item class="item-divider">Address Settings</ion-item>
            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditHome()">
                <i class="icon ion-ios-home"></i>
                <span>Home Address</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>

            <ion-item menu-close="" class="item-icon-left item-icon-right"
                      ng-click="showEditWork()">
                <i class="icon ion-briefcase"></i>
                <span>Work Address</span>
                <!--<i class="icon ion-edit"></i>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>