<ion-view hide-nav-bar="true" cache-view="false"
          ng-app="app.coupon"
          ng-controller="couponCtrl">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-navicon egobie-display-inherit" menu-toggle="left"></button>
        <h1 class="title">COUPONS</h1>
    </ion-header-bar>
    <ion-content padding="true">
        <button class="button button-block button-dark"
                ng-click="toggleCouponInput()"
                ng-show="!showCouponInput()">
            ADD COUPON CODE
        </button>

        <div class="egobie-add-coupon"
             ng-show="showCouponInput()">
            <i class="icon ion-close-round close"
               ng-click="toggleCouponInput()"></i>
            <input type="text" placeholder="enter coupon code" minlength="6" maxlength="6" />
            <button class="button button-small button-dark egobie-center">APPLY</button>
        </div>

        <ion-item class="egobie-more-coupon"
                  ng-click="showCouponInvite()">
            <p class="p1">Want More Discounts?</p>
            <p class="p2">INVITE YOUR FRIENDS</p>
        </ion-item>
    </ion-content>
</ion-view>