<ion-view hide-nav-bar="true" cache-view="false">
    <ion-header-bar class="egobie-header-bar">
        <button class="button button-icon icon ion-navicon egobie-display-inherit" menu-toggle="left"></button>
        <h1 class="title">MY SERVICES</h1>
    </ion-header-bar>
    <div class="egobie-bg-mask">
        <div class="egobie-bg-mask-1"></div>
        <div class="egobie-bg-mask-2"></div>
    </div>
    <ion-content padding="true" overflow-scroll="true">
        <ion-list ng-app="app.history.reservation"
                  ng-controller="myReservationCtrl">
            <ion-item class="item-divider item-icon-right egobie-reservation-title">
                <i class="icon ion-android-refresh"
                   ng-click="loadReservations()"></i>RESERVATION
            </ion-item>
            <ion-item class="egobie-empty-reservation"
                      ng-show="noReservation()">
                <i class="icon ion-android-checkmark-circle icon-1"></i>
                <p class="no">No reservation</p>
            </ion-item>

            <ion-item class="egobie-reservation-list"
                      ng-repeat="reservation in reservations"
                      ng-click="showCancelSheet(reservation)">
                <div class="top">
                    <div class="left">
                        <p class="price">{{reservation.price}}</p>
                    </div>
                    <div class="right">
                        <div class="time-services">
                            <div class="time">
                                <p class="title">Estimated Start:</p>
                                <p class="value">{{reservation.reserve_start_time}}</p>
                            </div>
                            <div class="services">
                                <p class="title">Services</p>
                                <p class="value"
                                   ng-repeat="service in reservation.services">
                                    {{service.name}} ({{service.full_type}})
                                    <span ng-show="service.note !== ''">{{service.note}}</span>
                                </p>
                            </div>
                            <div class="services"
                                 ng-show="reservation.addons && reservation.addons.length > 0">
                                <p class="title">Extra Services</p>
                                <p class="value"
                                   ng-repeat="addon in reservation.addons">{{addon.name}}</p>
                            </div>
                        </div>

                        <div class="plate-reserve">
                            <div class="plate">
                                <p class="title">Plate No.</p>
                                <p class="value">{{reservation.plate}}</p>
                            </div>
                            <div class="reserve">
                                <p class="title">Reservation ID</p>
                                <p class="value">{{reservation.reservation_id}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="bottom-will"
                   ng-show="isWill(reservation)"
                   ng-class="unitStyle(reservation.unit)">{{reservation.how_long}}</p>

                <p class="bottom-delay"
                   ng-show="isDelay(reservation)">Will start soon</p>

                <p class="bottom-in-progress"
                   ng-show="isInProgress(reservation)">In Progress</p>
            </ion-item>
        </ion-list>

        <ion-list ng-app="app.history.history"
                  ng-controller="myHistoryCtrl">
            <ion-item class="item-divider item-icon-right egobie-history-title">
                <i class="icon ion-android-refresh"
                   ng-click="loadHistories()"></i>HISTORY
            </ion-item>
            <ion-item class="egobie-empty-history"
                      ng-show="noHistory()">
                <i class="icon ion-clipboard icon-1"></i>
                <p class="no">No history</p>
            </ion-item>

            <ion-item class="egobie-history-list"
                      ng-repeat="history in histories"
                      ng-class="borderStyle(history.rating)"
                      ng-click="showHistory(history)">
                <div class="left">
                    <div class="price">{{history.price}}</div>
                    <div class="ontime">
                        <!--
                        <i class="icon ion-clock"></i>
                        <p>On time</p>
                        -->
                    </div>
                </div>
                <div class="right">
                    <div class="egobie-range">
                        <div class="start">
                            <i class="dot"></i>
                            <i class="line"></i>
                            <p>{{history.start_time}}</p>
                        </div>
                        <div class="end">
                            <i class="dot"></i>
                            <p>{{history.end_time}}</p>
                        </div>
                    </div>
                    <div class="egobie-rating"
                         ng-class="ratingStyle(history.rating)">
                        <rating max="max" readonly="true"
                                ng-model="history.rating"></rating>
                        <span class="egobie-history-rating">{{historyPercent(history.rating)}}</span>
                    </div>
                    <div class="egobie-other">
                        <div class="plate">
                            <p class="title">PLATE</p>
                            <p class="content">{{history.plate}}</p>
                        </div>
                        <div class="maker">
                            <p class="title">MAKER</p>
                            <p class="content">{{history.maker}}</p>
                        </div>
                        <div class="model">
                            <p class="title">MODEL</p>
                            <p class="content">{{history.model}}</p>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>