<ion-view padding="true" class="padding egobie-sign-bg">
    <ion-content padding="true" class="has-header">
        <ion-list class="list-inset"
              ng-controller="signInCtrl">
            <img class="egobie-signin-logo"/>

            <!--<img class="img-signin-divide" src="delorean.jpg"/>-->
            <ion-item class="item-input egobie-signin-item">
                <i class="icon ion-android-person placeholder-icon"></i>
                <input type="text" placeholder="Username" id="{{signInForm.username}}">
            </ion-item>
            <ion-item class="item-input egobie-signin-item">
                <i class="icon ion-locked placeholder-icon"></i>
                <input type="password" placeholder="Password" id="{{signInForm.password}}">
            </ion-item>
            <!--<ion-toggle toggle-class="toggle-calm" class="margin-top-5 width-300 toggle-signin">Keep me sign in</ion-toggle>-->

            <button class="button button-dark egobie-sign-button"
                    ng-controller="signInCtrl"
                    ng-click="signIn()">Sign In</button>
            <ion-item class="egobie-sign-item">
                <!--<a class="a-left" href="#">Forget Password?</a>-->
                <a class="egobie-right" ui-sref="sign.up">Sign Up</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>