<ion-view padding="true" class="padding egobie-sign-bg"
          ng-app="app.sign.up"
          ng-controller="signUpCtrl">
    <div class="mask"></div>
    <ion-content padding="true" class="has-header">
        <ion-list class="list-inset">
            <img class="egobie-signup-logo" />
            <div class="egobie-company">eGobie Car Services</div>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-android-person placeholder-icon"></i>
                <input id="sign-up-username" type="text" placeholder="Username (6-12)" minlength="6" maxlength="12"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-locked placeholder-icon"></i>
                <input id="sign-up-password1" type="password" placeholder="Password (8-16)" minlength="8" maxlength="16"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon placeholder-icon"></i>
                <input id="sign-up-password2" type="password" placeholder="Confirm Password" minlength="8" maxlength="16"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-email placeholder-icon"></i>
                <input id="sign-up-email" type="email" placeholder="Email Address"/>
            </ion-item>
            <ion-item class="item-input egobie-signup-item">
                <i class="icon ion-email placeholder-icon"></i>
                <input id="sign-up-coupon" type="text" placeholder="Invitation Code (Optional)" maxlength="5"/>
            </ion-item>

            <!--<img class="img-signin-divide" src="delorean.jpg" />-->
            <button class="button button-outline egobie-sign-button"
                    ng-click="signUp()">Sign Up</button>
            <ion-item class="egobie-sign-item">
                <a class="egobie-left" ui-sref="sign.in">Sign In</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>